table{
    border-spacing: 0px;
}
table tr {
	height : 30px;
}
.accountTable{
    border-spacing: 0px;
    width: 90%;
    margin: 25px auto;
    text-align: center;
}


.accountTable .accountRowHeader{
	background-color : #1a242d;
	color            : #fff;
	height           : 50px;
}
.accountTable .accountRow{
	cursor: pointer;
}



.transactionsTable{
    border-spacing: 0px;
    width: 100%;
    text-align: center;
    display: none;
}

.transactionsTable tr:nth-child(odd){
	background-color: #D3D3D3;
}

.transactionsTable tr:hover{
	background-color : #F0F0F0	;
}
.transactionsTable tr.transactionsRowHeader{
	background-color : #1a242d;
	color            : #fff;
	height           : 50px;
}
